<!-- src/app/archived-view/archived-view.component.html -->
<div class="container mt-5">
  <div class="d-flex justify-content-between align-items-center mb-4">
    <h2 class="text-center mb-4">Noticias Archivadas</h2>

    <!-- Botón para navegar a la vista de noticias -->
    <a routerLink="/news" class="btn btn-link">Ver Noticias Recientes</a>
  </div>

  <div *ngFor="let news of archivedNewsList()" class="card mb-3 shadow-sm">
    <div class="card-body">
      <h5 class="card-title">{{ news.title }}</h5>
      <p class="card-text">{{ news.description }}</p>
      <p class="card-text">{{ news.author }}</p>
      <p class="text-muted">
        <small>Archivado el: {{ news.archiveDate | date }}</small>
      </p>
      <button
        class="btn btn-outline-danger"
        (click)="remove(news._id)"
        *ngIf="userRole !== 'user'"
      >
        Eliminar
      </button>
    </div>
  </div>
</div>
